img{
  width: 100%;
  object-fit: cover;
}
.slider-container{
  border: 1px solid red;
  text-align: center;
}
.slide{
  width: 50%;
  min-width: 400px;
  margin: auto;
}
.slider-title{
  color: red;
  text-transform: uppercase;
}
.border{
  border-bottom: 2px dotted red;
}
